* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

/* Main Container */
.container {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    width: 72vw;
    min-height: 95vh;
    box-shadow: .3rem 0 3rem #1c6f96;
    position: relative;
}

@media (max-width: 950px){
    .container{
        width: 95vw;
        padding: 0.9rem;
    }
}
@media (max-width: 440px){
    .container{
        width: 100vw;
        padding: 0.4rem;
        min-height: 100vh;
    }
}